<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="paginador">

    <div style="text-align: center">
        <div class="btn-group mr-1 mb-1" th:if="${page != null}" >
            <a class="btn btn-secondary" th:each="pageNo : ${#numbers.sequence(&{firstPage}, &{totalPages} - 1)}"
               th:href="@{${@{|/?page=${page}|  + (f != null ? f : '')}(page=${pageNo},size=${pageSize},q=${q},sort=${sort_field == null ? '' : sort_field + ',' + sort_dir})}">
                <span th:if="${pageNo ge 0}" th:text="${pageNo + 1}"
                      th:class="${page.number eq pageNo}? 'lblue' : ''"></span>
            </a>
            <a class="btn btn-secondary" th:if="${page.number + 1 lt page.totalPages}"
               th:href="@{${@{|/?page=${page}| + (f != null ? f : '')}(page=${page.number+1},size=${pageSize},q=${q},sort=${sort_field == null ? '' : sort_field + ',' + sort_dir})}">
                <i class="la la-arrow-right floatl lblue"></i>
            </a>
            <a class="btn btn-secondary" th:if="${page.number + 1 ge page.size}" href="@{|/?page=${page}|}">
                <i class="la la-arrow-right floatl lblue"></i>
            </a>
        </div>
        <div th:if="${page != null}" class="col-sm-12" style="font-size: 11px;">
            Mostrando <span th:text="${totalItems}"></span> de <span th:text="${totalItems}"></span>
            objetos.
        </div>
    </div>
</div>
<th:block th:fragment="columna">
    
    <th>
        <a style="color:white;" th:text="${columna}"
           th:href="@{${page + (f != null ? f : '')}(page=0,size=${pageSize},q=${q},sort=${sort_dir == null or sort_dir == 'DESC' ? campo + ',asc' : campo + ',desc'})}"> </a>
        <div class="float-right" style="color:white;">
            <i th:if="${sort_field == campo and sort_dir == 'DESC'}" class="la la-angle-down" style="color:white;"></i>
            <i th:if="${sort_field == campo and sort_dir == 'ASC'}" class="la la-angle-up" style="color:white;"></i>
        </div>
    </th>
   

</th:block>
</html>